@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url(./style/cabecalho.css);


:root {
    --cor-fonte-cabecalho-: #000000a6;
    --fonte-nunito-: "Nunito", sans-serif;
}