@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url(./style/cabecalho.css);
@import url(./style/banner-principal.css);
@import url(./style/metricas-resultados.css);

:root {
    --cor-fonte-cabecalho-: #000000a6;
    --fonte-inter-: "Inter", sans-serif;
    --vermelho-texto-: #8E2424;
    --cinza-texto-: #101828;
    --cinza-claro-texto: #667085;
}

.centeudo-principal {
    padding: 4em 2em;
}