
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 8em;
    font-family: var(--fonte-inter-);
}

.cabecalho__pt1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.cabecalho__navegacao__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 32px;
}

.cabecalho__navegacao__lista-link {
    text-decoration: none;
    color: var(--cor-fonte-cabecalho-);
    font-size: 1.2em;
}

.cabecalho__menu-usuario__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px;
}

.cabecalho__menu-usuario__lista-link {
    text-decoration: none;
    color: var(--cor-fonte-cabecalho-);
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 10px;
}

#link-cadastrar {
    background-color: darkred;
    color: white;
}