.metricas-resultados {
    font-family: var(--fonte-inter-);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7em 5em;
    gap: 3em;
}

.metricas-resultados__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20%;
}

.metricas-resultados__titulo {
    color: var(--vermelho-texto-);
    font-size: 3.75em;
    font-weight: 600;
}

.metricas-resultados__subtitulo {
    font-weight: 500;
    font-size: 1.1em;
    color: var(--cinza-texto-);
}

.metricas-resultados__texto {
    font-weight: 400;
    font-size: 1em;
    color: var(--cinza-claro-texto);
}